{
  "extends" : "eslint:recommended",
  "parserOptions" : {
    "ecmaFeatures": {
      "jsx": true,
      "restParams" : true,
      "spread" : true,
      "experimentalObjectRestSpread" : true
    },
    "sourceType" : "module",
    "ecmaVersion" : 6
  },
  "env" : {
    "browser" : true,
    "node" : true,
    "jasmine" : true,
    "es6" : true,
    "amd" : true,
    "commonjs" : true
  },
  "plugins" : [
    "react"
  ],
  "rules" : {
    "no-cond-assign": 0,
    "no-console" : 0,
    "no-case-declarations": 0,
    "react/jsx-uses-react": [1],
    "react/jsx-uses-vars" : [1],
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-danger": 0,
    "no-debugger" : 2
  }
}