.Head {
    height: $toolbar-height;
    width: 100%;
    background-color: #563D7C;
    color: #fff;

    .toolbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: $spacer-y;
        left: $spacer-x;
        width: 150px;
    }

    .title {
        text-align: center;
        line-height: $toolbar-height;
        color: #fff;
    }

    .user {
        position: absolute;
        right: $spacer-x;
        top: $spacer-y;
        text-align: right;

        .user-actions {
            display: inline-block;
        }

        .avatar {
            display: inline-block;
            max-height: $toolbar-height - $spacer-y*2;
            margin-left: $spacer-x;
            border: 2px solid #fff;
        }
    }
}