@mixin list-item() {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding-top: $spacer-y;
    overflow: hidden;

    .editable {
        display: block;
    }

    .description {
        @include text-truncate;
        white-space: normal;
    }

    &:hover {
        background-color: #f5f5f5;

        .uncoverme {
            visibility: visible;
        }
    }
}