//_ Print CSS configuration variables

$page-width                 : 5.5in;
$page-height                : 8.5in;
$one-page-margin            : 1in;
$page-ext-margin            : 1.2in;
$page-int-margin            : 1in;
$page-bottom-margin         : 0.8in;
$page-top-margin            : 1.2in;


$base-font-family           : 'Neuton';
$base-font-size             : 12pt;
$base-leading               : 130%;
$f-xlight                   : 200;
$f-light                    : 300;
$f-normal                   : 400;
$f-bold                     : 700;
$f-black                    : 800;

$accent-color-yellow        : #DDB756;

$external-margin            : 1.3in;