@page {
    size: 5.5in 8.5in;

    :first {

    }

    :left {
        margin-left: 0cm;
        margin-right: 4cm;

        @bottom-left {
            content: counter(page);
        }
    }

    :right {
        margin-right: 0cm;
        margin-left: 4cm;

        @bottom-right {
            content: counter(page);
        }
    }
}

.hidden {
    display: none;
}

.category-title {
    margin-left: 4cm;
    margin-top: 12cm;
    font-size: 30pt;
    page-break-before: always;
    page-break-after: always;
}
