.cover .project { string-set: project content() }

@page {
    size: $page-width $page-height;
    margin: $one-page-margin;

    @top-left,
    @top-right
    @top-center {
        background-color: #ccc;
    }

    @top-center {
        text-align: center;
        margin-top: 1em;
    }
}

@page A {
    @top-center {
        font-size: 0.75 * $base-font-size;
        color: #999;
        font-family: $base-font-family;
        font-style: italic;
        text-align: center;
        content: string(project) " - " string(category);
    }

    @bottom-center {
        border-top: .25pt solid #eee;
        line-height: $base-font-size*3;
        font-size: $base-font-size*0.8;
        color: #999;
        content: "Buyer:__________________    Date:__________________";
    }

    @bottom-right {
        border-top: .25pt solid #666;
        content: ' ';
    }
    @bottom-left {
        border-top: .25pt solid #666;
        content: ' ';
    }
}
@page A:left {
    margin-left: $page-ext-margin;
    margin-right: $page-int-margin;

    @bottom-center {
        text-align: left;
    }

    @bottom-left-corner {
        content: counter(page);
        margin: 5mm 5mm;
        font-size: $base-font-size*0.8;
        line-height: $base-font-size*2.5;
        color: #999;
        vertical-align: top;
        text-align: center;
    }
}
@page A:right {
    margin-right: $page-ext-margin;
    margin-left: $page-int-margin;

    @bottom-center {
        text-align: right;
    }

    @bottom-right-corner {
        content: counter(page);
        margin: 5mm 5mm;
        font-size: $base-font-size*0.8;
        line-height: $base-font-size*2.5;
        color: #999;
        vertical-align: top;
        text-align: center;
    }
}

@page B:right {}
@page B:left {}

@page C {
    background-color: #000;
}