.front-cover .project { string-set: project content() }

@page {
    size: $page-width $page-height;
    margin: $one-page-margin;

    @top-left,
    @top-right
    @top-center {
        background-color: #ccc;
    }

    @top-center {
        text-align: center;
        margin-top: 1em;
    }
}

@page A {
    @top-center {
        font-size: 0.65 * $base-font-size;
        color: #999;
        text-align: center;
        content: string(project) " \x97 " string(category);
    }
}
@page A:left {
    margin-left: $page-ext-margin;
    margin-right: $page-int-margin;

    @bottom-left-corner {
        content: counter(page);
        font-size: $base-font-size*0.8;
        color: #999;
        vertical-align: top;
        text-align: right;
    }
}
@page A:right {
    margin-right: $page-ext-margin;
    margin-left: $page-int-margin;

    @bottom-right-corner {
        content: counter(page);
        font-size: $base-font-size*0.8;
        color: #999;
        vertical-align: top;
        text-align: left;
    }
}

@page B:right {}
@page B:left {}

@page C {
    background-color: #000;
}