.Spec {
    page-break-inside: avoid;
    clear: both;
    padding-bottom: 5mm;

    .spec-title {
        margin-left: 0;
        margin-bottom: 2mm;
        font-size: 18pt;
        font-weight: $f-black;
    }
    .spec-desc {
        margin-left: 0;
        color: #666;
    }

    .spec-info {
        margin-top: 5mm;
        overflow: hidden;
        //display: table;
        //table-layout: fixed;
        vertical-align: top;
        page-break-inside: avoid;

        .spec-images {
            display: block;
            float: left;
            width: 50%;

            figure {
                margin-bottom: 3mm;
            }

            img {
                max-height: 2.8in;
                max-width: 100%;
                display: block;
                margin-bottom: 3mm;
            }

            figcaption {
                font-weight: $f-normal;
                font-style: italic;
                font-size: $base-font-size*0.75;
                color: #666;
                padding-bottom: 3mm;
                border-bottom: 1pt solid #ccc;
            }
        }

        .spec-fields {
            display: block;
            margin: 0;
            float: left;
            width: 50%;
            vertical-align: top;
        }
    }

    dl {
        margin-left: 1cm;
    }

    dt, dd {
        display: block;
        margin-left: 10mm;
    }

    dt {
        font-weight: $f-normal;
        font-style: italic;
        color: #666;
    }

    dd {
        margin-bottom: 0.3cm;
        font-size: 1.2*$base-font-size;
    }
}